.cs-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cs-modal-overlay .modal {
  background: #f4f4dc;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.modal textarea {
  min-width: 100%;
  min-height: 80%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  resize: none;
  border: none;
  border-radius: 10px;
}
.cs-modal-overlay .modal-buttons{
  width: 50%;
}

.case-close{
  background-color: orange;
}