.dashboard-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #f6f6ef;
  font-family: "Segoe UI", sans-serif;
}

.dashboard-title {
  font-size: 22px;
  margin-bottom: 16px;
  color: #333;
  font-weight: 600;
}

.stats-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 16px;
}

.stat-box {
  flex: 1;
  min-width: 160px;
  background: white;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.stat-box svg {
  font-size: 20px;
  margin-bottom: 4px;
  color: olive;
}

.stat-box span {
  font-size: 18px;
  font-weight: bold;
  color: #111;
}

.olive {
  border-left: 5px solid olive;
}

.darkorange {
  border-left: 5px solid darkorange;
}

.charts-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: fit-content;
}

.chart-box:first-child{
  width: 30%;
}
.chart-box:last-child{
  width: 70%;
}

.chart-box {
  background: white;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}


.chart-box h3 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #444;
}

.loading {
  padding: 30px;
  text-align: center;
  font-size: 16px;
  color: #666;
}
